
body, html {
    height: 100%;
    margin: 0;
    background-image:linear-gradient(to left, #3f3f3f,#000000) ;
    overflow-x: hidden; /* Impede a rolagem horizontal */

}

/* Estilos para smartphones */
@media only screen and (max-width: 480px) {
    /* Estilos específicos para smartphones aqui */
    body {
        font-size: 14px;
    }
    /* Ajustes específicos para outros elementos, como imagens, menus, etc. */
}

/* Estilos para tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Estilos específicos para tablets aqui */
    body {
        font-size: 16px;
    }
    /* Ajustes específicos para outros elementos */
}

/* Estilos para tablets grandes */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos específicos para tablets grandes aqui */
    body {
        font-size: 18px;
    }
    /* Ajustes específicos para outros elementos */
}

/* Estilos para desktops */
@media only screen and (min-width: 1025px) {
    /* Estilos específicos para desktops aqui */
    body {
        font-size: 20px;
    }
    /* Ajustes específicos para outros elementos */
}

.container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}

.texto {
    position: relative; 
    font-family: Copperplate, Papyrus, fantasy;
    letter-spacing: 3px;
    font-size: 300%;
    top: -80px;
    left: 150px; /* Distância do lado esquerdo */
    transform: translateY(-50%); /* Centraliza verticalmente */
    margin: 0; /* Remove margens padrão */
    color: rgb(133, 243, 243);
    box-shadow: 1px 1px 20px 1px rgba(90, 163, 163, 0.363);
   
}

p {
    position: relative; 
    letter-spacing: 1px;
    top: -300px;
    left: 150px; /* Distância do lado esquerdo */
    transform: translateY(-50%); /* Centraliza verticalmente */
    margin: 0; /* Remove margens padrão */
    color: white;
    box-shadow: 1px 1px 20px 1px rgb(27, 27, 27)
}

.paragrafo-1 { 
    font-family: "Brush Script MT", cursive;
    position: relative; 
    font-size: 135%;
    letter-spacing: 1px;
    top: -370px;
    left: 100px; /* Distância do lado esquerdo */
}

.paragrafo-2 {
    font-family: 'Brush Script MT', cursive;
    position: relative; 
    font-size: 100%;
    letter-spacing: 1px;
    top: -340px;
    left: 100px; /* Distância do lado esquerdo */
}

.paragrafo-3 {
    font-family: 'Brush Script MT', cursive;
    position: relative; 
    font-size: 100%;
    letter-spacing: 1px;
    top: -335px;
    left: 100px; /* Distância do lado esquerdo */
}
.imagem-redonda {
    border-radius: 50%; /* Define a borda da imagem como um círculo */
    width: 400px;       /* Largura da imagem */
    position: relative;
    top: -650px;
    left: -30px;
    height: 500px;      /* Altura da imagem */
    object-fit: cover;  /* Mantém a proporção da imagem */
    float: right; /* Move a imagem para o lado direito */
}

header {
    position: fixed;      /* Fixa o cabeçalho no topo */
    top: 0;   
    left: 0px;              
    width: 160%;          /* Largura total */
    z-index: 1000;        /* Garante que o cabeçalho esteja acima de outros elementos */
    background-color: rgba(22, 22, 22, 0.479);
    color: #fff;
    padding: 10px 0;
}

/* Seu código CSS existente para o menu */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(133, 243, 243);
}
